

<div class="home-banner">
  <div class="page-width">

    <ul class="rslides">
			<li><img src="{{ 'slide_03.jpg' | asset_url }}" alt="{{ shop.name }}"></li>
			<li><img src="{{ section.settings.bk  | img_url: '2560x' }}" alt="{{ shop.name }}"></li>
			<li><img src="{{ 'slide_03.jpg' | asset_url }}" alt="{{ shop.name }}"></li>
		</ul>


    <div class="bk {{ section.settings.text_align }}" style="background-image: url({{ section.settings.bk | img_url: '2560x' }});">
      <div>
        <h2 style="color: {{ section.settings.text_color }}">{{ section.settings.h2_1 }}</h2>
        <p style="color: {{ section.settings.text_color }}">{{ section.settings.subtitle_1 }}</p>
        <a href="{{ section.settings.btn_url }}" class="btn" style="color: {{ section.settings.text_color }}; border-color: {{ section.settings.text_color }}">{{ section.settings.btn_text }}</a>
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Homepage banner",
    "settings": [
            {
        "type": "text",
        "id": "h2_1",
        "default": "Lorem Ipsum",
        "label": "Main Headline"
      },
      {
        "type": "textarea",
        "id": "subtitle_1",
        "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque blandit et ex in efficitur. In venenatis sagittis metus, in commodo augue lobortis id. Nunc massa metus.",
        "label": "Subtitle"
      },
      {
        "type": "text",
        "id": "btn_text",
        "default": "Learn More",
        "label": "Button text"
      },
      {
        "type": "url",
        "id": "btn_url",
        "label": "URL for button link",
        "default": "/collections/all"
      },
      {
        "type": "radio",
        "id": "text_align",
        "options": [
            { "value": "left", "label": "Left"},
            { "value": "center", "label": "Center"},
            { "value": "right", "label": "Right"}
        ],
        "label": "Text and button alignment"
      },
      {
        "type": "radio",
        "id": "text_color",
        "options": [
            { "value": "#fffff", "label": "White"},
            { "value": "#232323", "label": "Back"},
            { "value": "#25395c", "label": "Brand Primary"},
            { "value": "#bb9852", "label": "Brand Secondary"}
        ],
         "label": "Text color"
      },
      {
        "type": "image_picker",
        "id": "bk",
        "label": "Background image"
      }
    ],
    "presets": [
      {
        "name": "Image banner",
        "category": "Image"
      }
    ]
  }
{% endschema %}