
  <div class="page-width">
    <div class="box-links">
      <div class="link">
        <div class="link-img" style="background-image: url({{ section.settings.img_1  | img_url: '450x' }});">
          <h2>{{ section.settings.h2_1 }}</h2>
          <a href="{{ section.settings.img1_url }}"></a>
        </div>
      </div>
      <div class="link">
        <div class="link-img" style="background-image: url({{ section.settings.img_2 | img_url: '450x' }});">
            <h2>{{ section.settings.h2_2 }}</h2>
            <a href="{{ section.settings.img2_url }}"></a>
        </div>
      </div> 
      <div class="link">
        <div class="link-img" style="background-image: url({{ section.settings.img_3 | img_url: '450x' }});">
            <h2>{{ section.settings.h2_3 }}</h2>
            <a href="{{ section.settings.img3_url }}"></a>
        </div>
      </div>
    </div>
  </div>

{% schema %}
  {
    "name": "Homepage Image Trio",
    "settings": [
      {
        "type": "image_picker",
        "id": "img_1",
        "label": "Image One"
      },
       {
        "type": "text",
        "id": "h2_1",
        "default": "Item One",
        "label": "Item One Title"
      },
      {
        "type": "url",
        "id": "img1_url",
        "label": "URL Image One",
        "default": "/collections/all"
      },
      {
        "type": "image_picker",
        "id": "img_2",
        "label": "Image Two"
      },
       {
        "type": "text",
        "id": "h2_2",
        "default": "Item Two",
        "label": "Item Two Title"
      },
      {
        "type": "url",
        "id": "img2_url",
        "label": "URL for Image Two",
        "default": "/collections/all"
      },
      {
        "type": "image_picker",
        "id": "img_3",
        "label": "Image Three"
      },
       {
        "type": "text",
        "id": "h2_3",
        "default": "Item Three",
        "label": "Item Three Title"
      },
      {
        "type": "url",
        "id": "img3_url",
        "label": "URL for Image Three",
        "default": "/collections/all"
      }
    ],
    "presets": [
      {
        "name": "Homepage Image Trio",
        "category": "Image"
      }
    ]
  }
{% endschema %}